# Data Extraction

## Share price Related

In [1]:
import refinitiv.data as rd
from refinitiv.data.discovery import (
    convert_symbols,
    SymbolTypes,
    AssetClass,
    AssetState,
)

In [2]:
import refinitiv.data as rd
from refinitiv.data.content import fundamental_and_reference
import datetime

In [3]:
rd.open_session()

In [4]:
lseg_history = rd.get_history(universe="LSEG.L", interval="1D",
               start = '2015-01-01', end = '2023-05-01')

In [5]:
lseg_history.shape

(2125, 32)

In [6]:
lseg_history.columns

Index(['TRDPRC_1', 'MKT_HIGH', 'MKT_LOW', 'ACVOL_UNS', 'MKT_OPEN', 'BID',
       'ASK', 'TRNOVR_UNS', 'VWAP', 'MID_PRICE', 'PERATIO', 'ORDBK_VOL',
       'NUM_MOVES', 'IND_AUCVOL', 'OFFBK_VOL', 'HIGH_1', 'ORDBK_VWAP',
       'IND_AUC', 'OPEN_PRC', 'LOW_1', 'OFF_CLOSE', 'CLS_AUCVOL', 'OPN_AUCVOL',
       'OPN_AUC', 'CLS_AUC', 'TRD_STATUS', 'INT_AUC', 'INT_AUCVOL',
       'EX_VOL_UNS', 'ALL_C_MOVE', 'ELG_NUMMOV', 'NAVALUE'],
      dtype='object', name='LSEG.L')

In [7]:
mco_history = rd.get_history(universe=['MCO'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

morn_history = rd.get_history(universe=['MORN.O'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

spgi_history = rd.get_history(universe=['SPGI.K'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

msci_history = rd.get_history(universe=['MSCI.K'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

vrsk_history = rd.get_history(universe=['VRSK.O'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

fds_history = rd.get_history(universe=['FDS'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

In [8]:
import pandas as pd

def add_company_column(df, company_name):
    df['company'] = company_name
    return df

In [9]:
# Add the company column to each dataframe
mco_history = add_company_column(mco_history, 'MCO')
morn_history = add_company_column(morn_history, 'MORN.O')
spgi_history = add_company_column(spgi_history, 'SPGI.K')
msci_history = add_company_column(msci_history, 'MSCI.K')
vrsk_history = add_company_column(vrsk_history, 'VRSK.O')
fds_history = add_company_column(fds_history, 'FDS')

In [10]:
print(fds_history.shape)
print(vrsk_history.shape)
print(msci_history.shape)
print(spgi_history.shape)
print(morn_history.shape)
print(mco_history.shape)

(2096, 16)
(2096, 16)
(2096, 16)
(2096, 16)
(2096, 16)
(2096, 16)

In [11]:
import pandas as pd

dp_combined_df = pd.concat([fds_history, vrsk_history, msci_history, spgi_history, morn_history, mco_history], ignore_index=True)

In [12]:
dp_combined_df.shape

(12576, 16)

In [13]:
exchange_peers =['ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K','0388.HK','DB1GnEUR.xbo' ,'MKTX.O'],

In [20]:
ice_history = rd.get_history(universe=['ICE'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

ndaq_history = rd.get_history(universe=['NDAQ.O'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

eeft_history = rd.get_history(universe=['EEFT.O'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

cme_history = rd.get_history(universe=['CME.O'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

cboe_history = rd.get_history(universe=['CBOE.K'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

hkex_history = rd.get_history(universe=['0388.HK'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

db_history = rd.get_history(universe=['DB1GnEUR.xbo'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

mktx_history = rd.get_history(universe=['MKTX.O'], interval="1D",
               start = '2015-01-01', end = '2023-05-01')

In [21]:
# Add the company column to each dataframe
ice_history = add_company_column(ice_history, 'ICE')
ndaq_history = add_company_column(ndaq_history, 'NDAQ.O')
eeft_history = add_company_column(eeft_history, 'EEFT.O')
cme_history = add_company_column(cme_history, 'CME.O')
cboe_history = add_company_column(cboe_history, 'CBOE.K')
hkex_history = add_company_column(hkex_history, '0388.HK')
db_history = add_company_column(db_history, 'DB1GnEUR.xbo')
mktx_history = add_company_column(mktx_history, 'MKTX.O')

In [22]:
print(ice_history.shape)
print(ndaq_history.shape)
print(eeft_history.shape)
print(cme_history.shape)
print(cboe_history.shape)
print(hkex_history.shape)
print(db_history.shape)
print(mktx_history.shape)

(2096, 16)
(2096, 16)
(2096, 16)
(2096, 16)
(2096, 14)
(2050, 24)
(2125, 11)
(2096, 16)

In [23]:
relevant_col = ['TRDPRC_1', 'HIGH_1', 'LOW_1', 'ACVOL_UNS', 'OPEN_PRC', 'BID', 'ASK',
       'TRNOVR_UNS', 'VWAP', 'BLKCOUNT', 'BLKVOLUM', 'NUM_MOVES', 'TRD_STATUS',
       'SALTIM', 'NAVALUE','company']

In [24]:
import numpy as np
# Create a list of dataframes
dfs = [ice_history.reindex(columns=relevant_col, fill_value=np.nan),
       ndaq_history.reindex(columns=relevant_col, fill_value=np.nan),
       eeft_history.reindex(columns=relevant_col, fill_value=np.nan),
       cme_history.reindex(columns=relevant_col, fill_value=np.nan),
       cboe_history.reindex(columns=relevant_col, fill_value=np.nan),
       hkex_history.reindex(columns=relevant_col, fill_value=np.nan),
       db_history.reindex(columns=relevant_col, fill_value=np.nan),
       mktx_history.reindex(columns=relevant_col, fill_value=np.nan)]

# Concatenate the dataframes along axis 0 (row-wise)
ep_combined_df = pd.concat(dfs, ignore_index=True)

In [25]:
ep_combined_df

,TRDPRC_1,HIGH_1,LOW_1,ACVOL_UNS,OPEN_PRC,BID,ASK,TRNOVR_UNS,VWAP,BLKCOUNT,BLKVOLUM,NUM_MOVES,TRD_STATUS,SALTIM,NAVALUE,company
0,43.528,44.152,43.16,2868185.0,44.078,43.514,43.528,124729138.5287,43.48576,1,171050.0,6058,212,<NA>,<NA>,ICE
1,43.766,44.168,43.23,5274175.0,43.4,43.78,43.79,231289764.9677,43.85376,3,401510.0,11403,212,<NA>,<NA>,ICE
2,43.14,44.156,42.71,6892380.0,43.916,43.16,43.162,298025860.7364,43.24292,3,1368725.0,13876,212,<NA>,<NA>,ICE
3,43.75,43.79,42.762,14758775.0,43.294,43.762,43.772,641663793.2575,43.47542,6,6382790.0,17416,212,<NA>,<NA>,ICE
4,44.3,44.728,43.95,4231780.0,43.95,44.392,44.396,188082213.2357,44.44892,3,425930.0,8884,212,<NA>,<NA>,ICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16746,315.76,319.06,311.97,516792.0,318.13,315.92,316.07,162705897.0,314.8192,2,64335.0,15477,1,72000,<NA>,MKTX.O
16747,310.54,324.97,308.05,357471.0,324.97,310.54,310.92,111491356.0,311.9226,1,26754.0,14637,1,72000,<NA>,MKTX.O
16748,313.16,314.99,301.92,297699.0,312.2,313.16,313.24,92826809.0,311.7825,1,46646.0,11160,1,72000,<NA>,MKTX.O
16749,318.37,318.98,311.28,297400.0,312.99,318.21,318.41,94313021.0,317.0997,1,76042.0,9258,1,72000,<NA>,MKTX.O
16750,317.29,322.25,315.73,297229.0,318.16,317.14,317.33,94789806.0,318.9308,2,42349.0,9992,1,72000,<NA>,MKTX.O

### exporting to csv

In [27]:
# Export DataFrame to CSV file
lseg_history.to_csv('lseg_history.csv', index=False)

In [28]:
dp_combined_df.to_csv('data_peers_history.csv', index=False)
ep_combined_df.to_csv('exchange_peers_history.csv', index=False)

## financial data

In [4]:
lseg_financials = rd.get_history(
    universe='LSEG.L',
    fields=[ "TR.Revenue" , 'TR.F.NetIncAfterTax', 'TR.GrossProfit'],
    interval="1D",
    start="2015-01-01",
    end="2023-05-01",
)

In [5]:
lseg_financials.shape

(2116, 2)

In [8]:
data_peers = ['MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS']
exchange_peers = ['ICE', 'NDAQ', 'ENX.PA', 'CME', 'CBOE', 'MKTX']

In [16]:
data_peers_fundamental = fundamental_and_reference.Definition(
    ['MCO', 'MORN.O', 'SPGI.K', 'MSCI.K', 'VRSK.O', 'FDS'],
    ["TR.Revenue.date", "TR.Revenue", "TR.GrossProfit", "TR.EV"],
    {"Scale": 6, "SDate": 0, "EDate": -5, "FRQ": "FY", "Curn": "EUR"}
).get_data()

data_peers_fundamental.data.df

,Instrument,Date,Revenue,Gross Profit,Enterprise Value (Daily Time Series)
0,MCO,2022-12-31,5109.2992,3602.112,53213.31753
1,MCO,2021-12-31,5469.72588,4029.72246,68552.626881
2,MCO,2020-12-31,4397.7748,3190.0448,47881.845354
3,MCO,2019-12-31,4307.75774,3070.47052,43726.736598
4,MCO,2018-12-31,3873.678984,2787.702624,26895.823275
5,MCO,2017-12-31,3504.579801,2490.409875,27555.903857
6,MORN.O,2022-12-31,1747.88864,1019.71072,9291.598716
7,MORN.O,2021-12-31,1494.806238,880.451694,12865.227756
8,MORN.O,2020-12-31,1137.7226,713.33856,8209.226692
9,MORN.O,2019-12-31,1051.73874,620.784554,5950.540624
10,MORN.O,2018-12-31,889.271208,530.824896,3844.36379
11,MORN.O,2017-12-31,760.002237,437.728611,3338.696314
12,SPGI.K,2022-12-31,10447.5264,6928.576,113767.359949
13,SPGI.K,2021-12-31,7298.53902,5367.68532,101341.344656
14,SPGI.K,2020-12-31,6093.5096,4380.58,67650.433434
15,SPGI.K,2019-12-31,5975.90994,4369.30988,62875.439645
16,SPGI.K,2018-12-31,5456.47536,3973.33944,39828.386596
17,SPGI.K,2017-12-31,5054.17743,3641.20848,38069.30148
18,MSCI.K,2022-12-31,2101.089971,1723.273741,38160.924105
19,MSCI.K,2021-12-31,1797.623915,1482.103948,46965.040539
20,MSCI.K,2020-12-31,1388.185332,1149.338097,31997.105057
21,MSCI.K,2019-12-31,1389.6475,1126.52459,21022.93892
22,MSCI.K,2018-12-31,1250.319329,999.786196,12341.941603
23,MSCI.K,2017-12-31,1062.162521,834.019303,10566.562262
24,VRSK.O,2022-12-31,2333.1968,1562.69056,28724.915663
25,VRSK.O,2021-12-31,2166.16275,1415.197008,34913.213937
26,VRSK.O,2020-12-31,1858.18472,1209.94076,30041.375667
27,VRSK.O,2019-12-31,2325.689626,1454.325418,23860.86367
28,VRSK.O,2018-12-31,2088.335592,1315.640088,17774.76945
29,VRSK.O,2017-12-31,1788.260172,1134.876654,15460.484137
30,FDS,2022-08-31,1833.437132,1220.923886,15691.330529
31,FDS,2021-08-31,1347.890257,893.665609,16033.108252
32,FDS,2020-08-31,1251.766196,856.788737,10314.48049
33,FDS,2019-08-31,1306.16941,702.43355,9240.697714
34,FDS,2018-08-31,1164.01401,595.608557,6930.83245
35,FDS,2017-08-31,1025.509489,549.712602,6574.364997

In [29]:
exchange_peers_fundamental = fundamental_and_reference.Definition(
    ['ICE', 'NDAQ.O', 'EEFT.O', 'CME.O', 'CBOE.K','0388.HK','DB1GnEUR.xbo' ,'MKTX.O'],
    ["TR.Revenue.date", "TR.Revenue", "TR.GrossProfit", "TR.EV"],
    {"Scale": 6, "SDate": 0, "EDate": -5, "FRQ": "FY", "Curn": "EUR"}
).get_data()

exchange_peers_fundamental.data.df

,Instrument,Date,Revenue,Gross Profit,Enterprise Value (Daily Time Series)
0,ICE,2022-12-31,9003.8784,6813.6448,69407.055593
1,ICE,2021-12-31,8064.72288,6286.05036,79858.887215
2,ICE,2020-12-31,6750.1872,4942.2768,66779.204093
3,ICE,2019-12-31,5840.31682,4640.49612,52455.288786
4,ICE,2018-12-31,5472.16992,4341.28968,43682.982221
5,ICE,2017-12-31,4870.78323,3866.28318,39124.190736
6,NDAQ.O,2022-12-31,5817.5744,3347.0208,32789.029391
7,NDAQ.O,2021-12-31,5177.67876,3008.4372,35685.425198
8,NDAQ.O,2020-12-31,4607.3876,2376.9764,20132.122692
9,NDAQ.O,2019-12-31,3801.95972,2261.3721,18312.478386
10,NDAQ.O,2018-12-31,3729.20184,2202.46992,14585.455623
11,NDAQ.O,2017-12-31,3291.09228,2009.83371,13152.002144
12,EEFT.O,2022-12-31,3138.40759,1252.669722,4486.842203
13,EEFT.O,2021-12-31,2634.971389,963.38252,5087.973902
14,EEFT.O,2020-12-31,2032.83476,741.833619,5980.22244
15,EEFT.O,2019-12-31,2453.262235,1064.78601,7024.00796
16,EEFT.O,2018-12-31,2211.737558,913.966598,4393.054426
17,EEFT.O,2017-12-31,1877.641503,747.057941,3436.128529
18,CME.O,2022-12-31,4690.12736,<NA>,57731.205507
19,CME.O,2021-12-31,4125.341502,<NA>,73951.739611
20,CME.O,2020-12-31,3998.69168,<NA>,55265.370187
21,CME.O,2019-12-31,4342.54808,<NA>,66587.577125
22,CME.O,2018-12-31,3757.452048,<NA>,60367.281144
23,CME.O,2017-12-31,3038.258367,<NA>,41858.102975
24,CBOE.K,2022-12-31,3698.8224,1627.44448,13819.056977
25,CBOE.K,2021-12-31,3074.235768,1298.466126,13007.095527
26,CBOE.K,2020-12-31,2806.10948,1027.02084,8757.36876
27,CBOE.K,2019-12-31,2226.670966,1014.183014,12530.144733
28,CBOE.K,2018-12-31,2414.172096,1061.039448,10518.069787
29,CBOE.K,2017-12-31,1858.200051,829.942116,12779.499963
30,0388.HK,2022-12-31,2026.138626,<NA>,7901.821111
31,0388.HK,2021-12-31,2197.062503,<NA>,22559.177574
32,0388.HK,2020-12-31,1778.117204,<NA>,29730.909729
33,0388.HK,2019-12-31,1553.37534,<NA>,24602.869792
34,0388.HK,2018-12-31,1586.746324,<NA>,21202.549816
35,0388.HK,2017-12-31,1234.954067,<NA>,19693.570777
36,DB1GnEUR.xbo,2022-12-31,5333.2,4337.6,46860.00533
37,DB1GnEUR.xbo,2021-12-31,4446.6,3509.5,34512.9
38,DB1GnEUR.xbo,2020-12-31,3756.4,3213.8,28902.7
39,DB1GnEUR.xbo,2019-12-31,3315.4,2936.0,28324.0
40,DB1GnEUR.xbo,2018-12-31,3132.4,2779.7,21007.7
41,DB1GnEUR.xbo,2017-12-31,2802.5,2462.3,35069.3
42,MKTX.O,2022-12-31,671.17952,621.689958,9510.168619
43,MKTX.O,2021-12-31,614.839237,577.476558,13376.494075
44,MKTX.O,2020-12-31,564.25555,536.34102,17481.442466
45,MKTX.O,2019-12-31,456.156665,432.256594,12489.857877
46,MKTX.O,2018-12-31,379.777835,358.968592,6743.086698
47,MKTX.O,2017-12-31,327.960513,311.2483,6197.127966

In [54]:
trial_fundamental = fundamental_and_reference.Definition(
    ['ICE'],
    ["TR.Revenue.date", "TR.Revenue", "TR.GrossProfit", "TR.EV","TR.FreeCashFlow","TR.EBITDA"],
    {"Scale": 6, "SDate": 0, "EDate": -5, "FRQ": "FY", "Curn": "EUR"}
).get_data()

trial_fundamental.data.df

,Instrument,Date,Revenue,Gross Profit,Enterprise Value (Daily Time Series),Free Cash Flow,EBITDA
0,ICE,2022-12-31,9003.8784,6813.6448,69407.055593,1115.6736,4449.6128
1,ICE,2021-12-31,8064.72288,6286.05036,79858.887215,3412.20114,4011.2496
2,ICE,2020-12-31,6750.1872,4942.2768,66779.204093,1457.464,3184.3132
3,ICE,2019-12-31,5840.31682,4640.49612,52455.288786,1485.2799,2949.15036
4,ICE,2018-12-31,5472.16992,4341.28968,43682.982221,1531.09152,2792.75976
5,ICE,2017-12-31,4870.78323,3866.28318,39124.190736,1238.74446,2459.1495